.buttonList {
  list-style: none;
  display: flex;
  padding: 0;
}
.button {
  cursor: pointer;
  border: none;
  border-radius: 10%;
  margin-right: 20px;
  width: 70px;
  padding: 10px;
}
.button:hover {
  background-color: rgb(149, 198, 243);
}